    <% include ../partials/header %>
    
    <div class="container">
        <header class="jumbotron">
            <div class="container"  >
                    <h1 style="text-align: center;"> Welcome to YelpCamp </h1>
                    <p style="text-align: center;"> View our hand-picked Campgrounds from all over the world</p>
                    <p style="text-align: center;">
                        <a class="btn btn-primary btn-larg" href="/campgrounds/new">Add a new Campground</a>
                    </p>
            </div>
        </header>

        <div class="card-deck">
                <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                        
                <img src="<%= campground.image %>" class="card-img-top" >
                <div class="card-body">
                    <div class="card-text text-center">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text">
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                            </p>
                    </div>
                   
                </div>
                </div>
            </div>
                <% }); %>
        </div>

<% include ../partials/footer %>
